@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 100%;
}
body {
  /* background-color: rgb(235, 221, 201); */
  background-color: rgb(238, 230, 230);
}
h2 {
  padding-top: 30px;
}
h2,
p {
  color: rgb(3, 3, 3, 0.6);
  text-align: center;
}
p {
  font-size: small;
}
.ikon {
  width: 40px;
  height: 40px;
}
.navbar {
  background-color: #fabd03 !important;
  height: 90px;
  position: fixed;
  z-index: 1;
  font-size: small;
  width: 100%;
}
.navbar li {
  margin-left: 11px;
}

.navbar li a:hover {
  background-color: white;
  border-radius: 20px;
  transition: 0.5s all;
}

.main h1,
h6 {
  font-family: "satisfy";
}
#subs,
.main h6 {
  font-weight: bold;
  color: white;
  text-shadow: 1px 2px rgb(3, 3, 3, 0.6);
}
.main h1 {
  font-size: 40px;
}
.main #utama {
  font-size: 120px;
  padding-bottom: 0px;
  color: #fabd03;
  text-shadow: 1px 2px rgb(3, 3, 3, 0.6);
}
.main {
  background-image: url(../Assets/IMG/Profil/d5fe9505-ae56-42bd-a299-78ec6e9cd791.jpg);
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  background-position: 0px -130px;
  padding: 300px 300px;
  height: 770px;
  box-sizing: border-box;
  color: rgb(3, 3, 3, 0.63);
  box-shadow: rgba(0, 0, 0, 0, 06);
}
#but {
  margin-top: 30px;
  height: 50px;
  width: 180px;
  border-radius: 22px;
  border-color: white;
  background-color: orangered;
  background-color: #fabd03;
  color: rgb(3, 3, 3, 0.6);
}
#but:hover {
  background-color: rgba(82, 38, 7, 0.7);
  background-color: orangered;
}

#abus {
  height: 260px;
  background-color: #fabd03;
  text-align: center;
  padding: 40px 60px 0px 60px;
  box-sizing: border-box;
  line-height: 0.75cm;
}
#abus h2,
#Products h2,
#about h2,
#contacts {
  padding-bottom: 30px;
  color: rgba(3, 3, 3, 0.6);
}
#abus h2 {
  padding-top: 0px;
}
.products {
  /* height: 1850px; */
  height: 1690px;
  background-color: rgb(238, 230, 230);
}
.products h2,
.products p {
  color: rgb(3, 3, 3, 0.6);
  text-align: center;
}
.products h2 {
  padding-top: 120px;
}
.products p {
  padding-top: 30px;
}
.keunggulan {
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background-color: #fabd03;
  border-radius: 30px;
}
.unggul {
  flex: 2;
  margin-left: 50px;
}
.unggul h3,
h4 {
  font-family: sans-serif;
  color: rgb(3, 3, 3, 0.63);
}
.unggul h3 {
  font-size: 20px;
  padding-bottom: 15px;
}
.unggul h4 {
  font-size: small;
  line-height: 0.75cm;
  text-align: justify;
}
.unggul p {
  text-align: justify;
  line-height: 0.75cm;
}
#titleprod {
  margin-top: 20px;
  margin-bottom: 20px;
}
.picunggul {
  flex: 1;
  justify-content: center;
  align-items: right;
}
.picunggul video {
  border-radius: 10px;
}
#container {
  display: flex;
  flex-direction: row;
  height: 352px;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
  color: wheat;
}
a:hover {
  color: orange;
}
.satu {
  flex: 3;
  background-image: url(../Assets/IMG/Menu/1.jpeg);
  margin: 15px;
  background-size: cover;
  border-radius: 10px;
  height: 200px;
  width: 200px;
  display: flex;
  position: relative;
  box-shadow: 2px 2px 3px black;
}
#a1 {
  width: 200px;
  background-color: #fabd03;
  height: 50px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.dua {
  flex: 3;
  background-image: url(../Assets/IMG/Menu/pedas.png);
  background-size: cover;
  background-color: white;
  background-position: 0px -60px;
  box-shadow: 2px 2px 5px black;
  height: 400px;
  width: 500px;
  margin: 15px;
  border-radius: 25px;
  display: flex;
  position: relative;
}
.dua:hover,
.tiga:hover,
.empat:hover,
.lima:hover {
  transform: scale(104%);
}

#a2 {
  width: 500px;
  background-color: #fabd03;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  color: rgb(3, 3, 3, 0.6);
  align-items: center;
  justify-content: center;
  bottom: 0px;
  font-weight: bold;
  position: absolute;
  border-radius: 20px;
  font-size: small;
}
.tiga {
  flex: 1;
  background-image: url(../Assets/IMG/Menu/bawang.png);
  background-size: cover;
  background-position: 0px -60px;
  box-shadow: 2px 2px 5px black;
  height: 400px;
  width: 500px;
  margin: 15px;
  position: relative;
  display: flex;
  border-radius: 25px;
  background-color: white;
}
#a3 {
  width: 500px;
  background-color: #fabd03;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  color: rgb(3, 3, 3, 0.6);
  align-items: center;
  justify-content: center;
  bottom: 0px;
  font-weight: bold;
  position: absolute;
  border-radius: 20px;
  font-size: small;
}
.empat {
  flex: 1;
  background-image: url(../Assets/IMG/Menu/kencur\ pouch.png);
  background-size: cover;
  background-position: 0px -60px;
  box-shadow: 2px 2px 5px black;
  height: 400px;
  width: 500px;
  margin: 15px;
  position: relative;
  display: flex;
  border-radius: 25px;
  background-color: white;
}
#a4 {
  width: 500px;
  background-color: #fabd03;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  color: rgb(3, 3, 3, 0.6);
  align-items: center;
  justify-content: center;
  bottom: 0px;
  font-weight: bold;
  position: absolute;
  border-radius: 20px;
  font-size: small;
}
.lima {
  flex: 1;
  background-image: url(../Assets/IMG/Menu/kencur\ botol.png);
  background-size: cover;
  background-position: 0px -60px;
  box-shadow: 2px 2px 5px black;
  height: 400px;
  width: 500px;
  margin: 15px;
  display: flex;
  position: relative;
  border-radius: 25px;
  background-color: white;
}
#a5 {
  width: 500px;
  background-color: #fabd03;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  color: rgb(3, 3, 3, 0.6);
  align-items: center;
  justify-content: center;
  bottom: 0px;
  position: absolute;
  border-radius: 20px;
  font-size: small;
}
.harga {
  font-weight: bold;
  font-size: 10px;
  margin-left: 20px;
  color: white;
  width: 20%;
  background-color: rgba(3, 3, 3, 0.6);
  border-radius: 20px;
  box-shadow: 1px 1px 3px black;
  text-align: center;
}
.buy {
  background-color: rgb(238, 230, 230);
  padding: -30px auto;
  margin-bottom: 60px;
}
.buy #but {
  border-radius: 15px;
}
#about {
  background-color: #fabd03;
  height: 450px;
  line-height: 0.75cm;
  padding: 90px 60px;
}
.testimoni {
  height: 700px;
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  line-height: 0.75cm;
}
.testimoni h5 {
  font-family: sans-serif;
  color: rgba(3, 3, 3, 0.6);
  font-weight: bold;
  padding-top: 100px;
  font-size: 12px;
}
.testimoni h2 {
  padding-top: 170px;
  text-align: center;
  color: rgba(0, 0, 0, 0, 06);
}

.testimoni p {
  padding: 10px 420px 0px;
  color: rgb(3, 3, 3, 0.6);
}

.testimoni .benefits {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 100px;
  margin-bottom: 500px;
}
.testimoni .one,
.testimoni .two,
.testimoni .three,
.testimoni .four {
  flex: 1;
  width: 50%;
  padding-left: 20px;
  margin: 15px;
  padding: 0px 30px;
  text-align: justify;
  position: relative;
  box-shadow: 2px 2px 10px rgb(7, 7, 7, 0.3);
  border-radius: 12px;
  height: 70%;
}

.testimoni .two {
  background-color: #fabd03;
}
.testimoni .three {
  background-color: #fabd03;
  height: 290px;
  width: 300px;
}
.testimoni .four {
  background-color: #fabd03;
}
.testimoni .icon {
  position: absolute;
  text-align: center;
  right: 41%;
  top: 20%;
  margin-bottom: 20px;
}
.testimoni .three .icon {
  top: 16%;
}
.testimoni .judben h5 {
  color: rgba(3, 3, 3, 0.6);
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}
#com {
  font-size: 10px;
  left: 0px;
  text-align: center;
  flex-direction: row;
  padding: 0px 20px;
  width: 100%;
  padding-top: 10px;
  color: rgba(3, 3, 3, 0.6);
  position: absolute;
  line-height: 0.5cm;
  margin-bottom: 10px;
}
.testimoni .judpen h6 {
  padding-top: 20px;
  font-size: 10px;
  left: 0px;
  text-align: center;
  flex-direction: row;
  padding: 0px 100px;
  font-family: sans-serif;
  color: rgba(3, 3, 3, 0.6);
  position: absolute;
  line-height: 0.5cm;
}

.contacts h2 {
  color: rgba(3, 3, 3, 0.6);
  padding-top: 120px;
}

.contacts p {
  padding-bottom: 30px;
}

.contacts {
  background-color: white;
}

.input {
  display: flex;
  padding: 15px;
  border-radius: 10px;
  width: 40%;
  margin: 15px;
}
#inp1,
#inp2,
#inp3,
#inp4 {
  border: 2px solid #fabd03;
}
#kirim:hover,
#reset:hover {
  background-color: orangered;
}
#kirim,
#reset {
  background-color: grey;
  width: 200px;
  height: 50px;
  margin: 20px;
  margin-bottom: 40px;
  border-radius: 25px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#ico {
  padding-right: 26px;
}
#wa {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.imae {
  margin-left: 5px;
}

#no {
  font-size: 10px;
}

.lokasi {
  height: 460px;
  max-width: 100%;
  background-color: white;
  display: flex;
  padding: 0px 120px;
}
.namalokasi {
  flex: 1;
  padding: 10px 10px;
  background-color: #fabd03;
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
  color: rgba(3, 3, 3, 0.6);
  width: 500px;
  height: 350px;
  margin-bottom: 10px;
  position: relative;
}
.namalokasi h4 {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  margin: auto;
  line-height: 0.65cm;
  padding: 10px 200px;
  color: rgba(3, 3, 3, 0.6);
}
.namalokasi p {
  padding-top: 10px;
  display: flex;
  margin: auto;
}
.namalokasi #pro {
  display: flex;
  margin: auto;
  margin-top: -30px;
}

.pusatlokasi iframe {
  border: 3px solid black;
  background-color: #fabd03;
  padding: 10px 10px;
  flex: 2;
  height: 350px;
  width: 500px;
}

#footer {
  text-align: center;
  padding: 20px;
  background-color: #fabd03;
}
#footer h5 {
  padding-bottom: 5px;
  padding-top: 30px;
  color: rgb(3, 3, 3, 0.6);
}
#footer h6 {
  font-family: sans-serif;
  color: rgb(3, 3, 3, 0.6);
  font-size: small;
}

@media (min-width: 320px) and (max-width: 767px) {
  * {
    max-width: 100%;
  }
  body {
    background-color: white;
  }
  .navbar {
    height: 70px;
    box-sizing: border-box;
    position: static;
  }
  .navbar ul {
    background-color: #fabd03 !important;
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px 10px;
    width: 100%;
  }
  .navbar li {
    background-color: #fabd03 !important;
    font-size: 8px;
    width: 100%;
  }
  .navbar li a:hover {
    transition: 0.5s all;
  }
  .ikon {
    width: 20px;
    height: 20px;
  }

  /* untuk mengatur main */
  .main #utama {
    font-size: 70px;
    width: 100%;
  }
  .main #subs {
    font-size: 17px;
    width: 100%;
  }
  .main h6 {
    font-size: 10px;
  }
  .main {
    text-align: center;
    padding: 177px 50px;
    background-position: 0px 0px;
    width: auto;
    height: 550px;
  }
  #but {
    width: 100px;
    height: 38px;
    font-size: 9px;
  }
  #but:hover {
    background-color: rgba(82, 38, 7, 0.7);
    background-color: orangered;
  }
  /* akhir untuk mengatur main */

  /* mengatur about us */
  #abus {
    padding-top: 28px;
    height: 270px;
    width: auto;
  }
  #abus h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px;
  }
  #abus p {
    font-size: 9px;
    text-align: justify;
    padding-bottom: 30px;
    line-height: 0.5cm;
  }
  /* akhir mengatur about us */

  /* mengatur products */
  #products {
    /* height: 1130px; */
    height: 1090px;
    width: auto;
    background-color: white;
  }
  #products h2 {
    padding-top: 30px;
    font-size: 19px;
  }
  #products p {
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0px;
  }
  .keunggulan {
    padding-top: -80px;
    margin-top: -40px;
    flex-direction: column;
    height: 500px;
    background-color: white;
    border-radius: 0px;
    margin-top: 0px;
  }
  #titleunggul {
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
    font-family: sans-serif;
  }
  .unggul {
    flex: 1;
    background-color: white;
    margin: auto;
    width: 100%;
    height: 200px;
    padding-bottom: 30px;
    margin-bottom: 100px;
  }
  .unggul h3 {
    font-size: 9px;
    text-align: center;
    margin-bottom: -5px;
  }
  .unggul h4 {
    font-family: sans-serif;
    color: rgb(3, 3, 3, 0.63);
    text-align: justify;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 9px;
    font-weight: normal;
    line-height: 0.5cm;
  }
  #cos {
    visibility: hidden;
  }
  #titleprod {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .picunggul {
    flex: 1;
    height: 0px;
    margin: auto;
    background-color: #fabd03;
    width: 100%;
    background-size: 300px;
    background-image: url(../Assets/IMG/Menu/bawang.png);
    background-position: 50% 50%;
    padding-bottom: 30px;
  }

  .picunggul video {
    visibility: hidden;
  }
  .picunggul img {
    visibility: hidden;
  }
  #container {
    display: flex;
    flex-direction: column;
    height: 600px;
    margin-top: -50px;
  }
  /* .satu {
    flex: 6;
    width: 91.5%;
    margin-top: 200px;
    background-position: 0px -10px;
  }
  #a1 {
    border-radius: 4px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    bottom: 0px;
  } */

  .dua {
    flex: 6;
    background-position: 50% -12px;
    width: 90%;
    margin: auto;
    border-radius: 25px;
    height: 200px;
    background-size: 200px;
    position: relative;
    margin-bottom: 15px;
  }
  #a2 {
    border-radius: 20px;
    width: 100%;
    font-size: 9px;
    bottom: 0px;
    position: absolute;
  }
  .tiga {
    flex: 6;
    background-position: 50% -12px;
    height: 200px;
    background-size: 200px;
    border-radius: 25px;
    width: 90%;
    margin: auto;
    position: relative;
    margin-bottom: 15px;
  }
  #a3 {
    border-radius: 20px;
    width: 100%;
    font-size: 9px;
    bottom: 0px;
    position: absolute;
  }
  .empat {
    flex: 6;
    background-position: 50% -12px;
    width: 90%;
    margin: auto;
    background-size: 200px;
    border-radius: 25px;
    height: 200px;
    position: relative;
    margin-bottom: 15px;
  }
  #a4 {
    border-radius: 20px;
    width: 100%;
    font-size: 9px;
    bottom: 0px;
    position: absolute;
  }
  .lima {
    flex: 6;
    background-position: 50% -12px;
    width: 90%;
    margin: auto;
    background-size: 200px;
    border-radius: 25px;
    height: 200px;
    position: relative;
    margin-bottom: 15px;
  }

  #a5 {
    border-radius: 20px;
    width: 100%;
    font-size: 9px;
    bottom: 0px;
    position: absolute;
  }
  .harga {
    font-size: 10px;
    font-weight: bold;
    margin-left: 5px;
    width: 60%;
    background-color: rgba(3, 3, 3, 0.6);
    color: white;
  }
  .buy {
    background-color: white;
    margin-bottom: 30px;
  }
  /* akhir mengatur products */
  .testimoni {
    height: 760px;
    background-color: rgb(230, 228, 228);
    text-align: center;
    box-sizing: border-box;
    line-height: 0.75cm;
    margin: auto;
    margin-bottom: 0px;
  }

  .testimoni h2 {
    padding-top: 30px;
    font-size: 19px;
    text-align: center;
    color: rgba(0, 0, 0, 0, 06);
  }
  .testimoni h5 {
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    padding-top: 80px;
    font-size: 12px;
  }
  .testimoni p {
    padding: 10px 0px 0px;
    font-size: 9px;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    color: rgb(3, 3, 3, 0.6);
  }

  .testimoni .benefits {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    margin-bottom: 80px;
  }
  .testimoni .two,
  .testimoni .three,
  .testimoni .four {
    flex: 1;
    width: 90%;
    padding-left: 0px;
    margin: 8px;
    padding: 0px 10px;
    text-align: justify;
    position: relative;
    box-shadow: 2px 2px 10px rgb(7, 7, 7, 0.3);
    border-radius: 12px;
    height: 100px;
  }
  .testimoni .two {
    background-color: #fabd03;
  }
  .testimoni .three {
    background-color: #fabd03;
  }
  .testimoni .four {
    background-color: #fabd03;
  }
  .testimoni .icon {
    position: absolute;
    text-align: center;
    margin: auto;
    top: 11%;
    margin-bottom: 10px;
  }

  .testimoni .judben h5 {
    color: rgba(0, 0, 0, 0, 06);
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
  }
  .testimoni .judpen h6 {
    font-size: 7px;
    margin-left: 0px;
    text-align: center;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0, 06);
    line-height: 0.5cm;
  }

  #s {
    position: absolute;
    top: 10%;
  }
  #com {
    text-align: center;
    font-size: 7px;
    padding: 0px 20px;
  }

  /* mengatur about */
  #about {
    padding-top: 10px;
    height: auto;
    padding-bottom: 10px;
    width: auto;
  }
  #about h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px;
  }
  #about p {
    font-size: 9px;
    text-align: justify;
    line-height: 0.5cm;
  }
  /* akhir mengatur about */

  /* mengatur contacts */
  #contacts {
    padding-top: 10px;
    height: auto;
    padding-bottom: 20px;
    width: auto;
  }
  #contacts h2 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 19px;
  }
  #contacts p {
    padding-top: 0px;
    font-size: 9px;
    text-align: center;
  }
  .input {
    display: flex;
    width: 80%;
    height: 10%;
    border-radius: 5px;
  }
  .input:-webkit-input-placeholder {
    font-size: 6px;
  }
  .input::-moz-placeholder {
    font-size: 7px;
  }
  #inp1 {
    height: 12px;
    border: 1px solid wheat;
  }
  #inp2 {
    height: 12px;
    border: 1px solid wheat;
  }
  #inp3 {
    height: 12px;
    border: 1px solid wheat;
  }
  #inp4 {
    height: 300px;
    border: 1px solid wheat;
  }
  #kirim,
  #reset {
    margin-left: 0px;
    margin-right: 5px;
    width: 120px;
    height: 30px;
    font-size: small;
    border-radius: 20px;
    background-color: gray;
  }
  #no {
    font-size: 8px;
  }
  #kirim:hover,
  #reset:hover {
    background-color: orangered;
  }
  /* awal maps */
  .lokasi {
    height: 275px;
    background-color: white;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    padding: 0px 30px;
  }
  .namalokasi {
    flex: 1;
    padding: 10px 10px;
    background-color: #fabd03;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    color: rgba(3, 3, 3, 0.6);
    width: 100px;
    height: 200px;
    position: relative;
  }
  .namalokasi h4 {
    visibility: hidden;
    font-size: 8px;
  }
  .namalokasi p {
    font-size: 8px;
    visibility: none;
  }
  .namalokasi #pro {
    display: flex;
    margin: auto;
    margin-top: -20px;
    align-items: center;
    justify-content: center;
  }

  .pusatlokasi iframe {
    background-color: #fabd03;
    flex: 1;
    height: 200px;
    width: 270px;
  }

  /* akhir maps */

  #wa {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
  }
  #footer {
    width: auto;
    bottom: 0%;
  }
  #footer h5 {
    font-size: 14px;
  }
  #footer h6 {
    font-size: 9px;
  }
  /* akhir mengatur contacts */
}
@media (min-width: 768px) and (max-width: 991px) {
  .main {
    background-position: 0px 0px;
  }
  body {
    background-color: rgb(238, 230, 230);
  }
  * {
    max-width: 100%;
  }
  .picunggul video {
    visibility: hidden;
  }
  .navbar {
    height: 70px;
    box-sizing: border-box;
    position: static;
  }
  .navbar ul {
    background-color: #fabd03 !important;
    flex: 6;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  .navbar li {
    display: flex;
    margin: auto 10px;
  }
  .navbar li a:hover {
    background-color: #fabd03 !important;
    border-radius: 20px;
    transition: 0.5s all;
  }

  /* untuk mengatur main */
  .main #utama {
    font-size: 100px;
    width: 100%;
  }
  .main #subs {
    font-size: 17px;
    width: 100%;
  }
  .main h6 {
    font-size: 10px;
  }
  .main {
    text-align: center;
    padding: 177px 50px;
    background-position: 0px -50px;
    width: auto;
    height: 530px;
  }
  #but {
    width: 100px;
    height: 38px;
    font-size: 9px;
  }
  #but:hover {
    background-color: rgba(82, 38, 7, 0.7);
    background-color: orangered;
  }
  /* akhir untuk mengatur main */

  /* mengatur about us */
  #abus {
    padding-top: 28px;
    height: 220px;
    width: auto;
  }
  #abus h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px;
  }
  #abus p {
    font-size: 9px;
    text-align: justify;
    padding-bottom: 30px;
    line-height: 0.5cm;
  }
  /* akhir mengatur about us */

  /* mengatur products */
  #products {
    /* height: 1600px; */
    height: 1400px;
    width: auto;
    background-color: rgb(238, 230, 230);
  }
  #products h2 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 19px;
  }
  #products p {
    font-size: 10px;
    text-align: center;
    padding-top: 0px;
  }
  .keunggulan {
    display: flex;
    flex-direction: column;
    height: 300px;
    position: relative;
  }
  #titleunggul {
    font-size: 12px;
    text-align: center;
    padding-bottom: 200px;
    font-family: sans-serif;
  }
  .unggul {
    flex: 1;
    margin: auto;
    width: 100%;
    height: 200px;
    padding-bottom: 30px;
    margin-bottom: 60px;
  }
  .unggul h3 {
    visibility: hidden;
  }
  .unggul h4 {
    font-family: sans-serif;
    color: rgb(3, 3, 3, 0.63);
    text-align: justify;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 9px;
    font-weight: normal;
    line-height: 0.5cm;
  }

  #titleprod {
    margin-top: 30px;
  }
  .picunggul {
    flex: 1;
    height: 220px;
    margin: auto;
    width: 220px;
    background-size: cover;
    background-image: url(../Assets/IMG/Menu/bawang.png);
    background-position: 50% 50%;
    padding-bottom: 30px;
    position: absolute;
    top: 100px;
  }
  .picunggul img {
    visibility: hidden;
  }
  #container {
    display: flex;
    flex-direction: row;
    height: 352px;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  a {
    text-decoration: none;
    color: wheat;
  }
  a:hover {
    color: orange;
  }

  .dua {
    flex: 3;
    background-image: url(../Assets/IMG/Menu/pedas.png);
    background-size: cover;
    background-color: white;
    background-position: -40px 0px;
    border: 1px solid #fabd03;
    height: 400px;
    width: 300px;
    margin: 15px;
    border-radius: 20px;
    display: flex;
    position: relative;
  }

  #a2 {
    width: 500px;
    background-color: #fabd03;
    height: 50px;
    color: rgb(3, 3, 3, 0.6);
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    border-radius: 20px;
    font-size: small;
  }
  .tiga {
    flex: 1;
    background-image: url(../Assets/IMG/Menu/bawang.png);
    background-size: cover;
    background-color: white;
    background-position: -50px 0px;
    border: 1px solid #fabd03;
    height: 400px;
    width: 300px;
    margin: 15px;
    position: relative;
    display: flex;
    border-radius: 20px;
  }
  #a3 {
    width: 500px;
    background-color: #fabd03;
    height: 50px;
    display: flex;
    font-weight: bold;
    flex-wrap: wrap;
    color: rgb(3, 3, 3, 0.6);
    align-items: center;
    justify-content: center;
    bottom: 0px;
    position: absolute;
    border-radius: 20px;
    font-size: small;
  }
  .empat {
    flex: 1;
    background-image: url(../Assets/IMG/Menu/kencur\ pouch.png);
    background-size: cover;
    background-color: white;
    background-position: -40px 0px;
    border: 1px solid #fabd03;
    height: 400px;
    width: 300px;
    margin: 15px;
    position: relative;
    display: flex;
    border-radius: 20px;
  }
  #a4 {
    width: 500px;
    background-color: #fabd03;
    height: 50px;
    display: flex;
    font-weight: bold;
    flex-wrap: wrap;
    color: rgb(3, 3, 3, 0.6);
    align-items: center;
    justify-content: center;
    bottom: 0px;
    position: absolute;
    border-radius: 20px;
    font-size: small;
  }
  .lima {
    flex: 1;
    background-image: url(../Assets/IMG/Menu/kencur\ botol.png);
    background-color: white;
    background-size: cover;
    background-position: -50px 0px;
    border: 1px solid #fabd03;
    height: 400px;
    width: 300px;
    margin: 15px;
    display: flex;
    position: relative;
    border-radius: 20px;
  }
  #a5 {
    width: 500px;
    background-color: #fabd03;
    height: 50px;
    display: flex;
    font-weight: bold;
    flex-wrap: wrap;
    color: rgb(3, 3, 3, 0.6);
    align-items: center;
    justify-content: center;
    bottom: 0px;
    position: absolute;
    border-radius: 20px;
    font-size: small;
  }
  .harga {
    font-weight: bold;
    font-size: 10px;
    margin-left: 20px;
    width: 30%;
    background-color: rgba(3, 3, 3, 0.6);
    border-radius: 20px;
    box-shadow: 1px 1px 3px black;
    text-align: center;
  }
  .buy {
    background-color: rgb(238, 230, 230);
  }
  /* akhir mengatur products */

  /* mengatur about */
  #about {
    padding-top: 10px;
    height: auto;
    padding-bottom: 10px;
    width: auto;
  }
  #about h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px;
  }
  #about p {
    font-size: 9px;
    text-align: justify;
    line-height: 0.5cm;
  }
  /* akhir mengatur about */
  .testimoni {
    height: 430px;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    line-height: 0.75cm;
  }
  .testimoni h5 {
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    padding-top: 80px;
    font-size: 12px;
  }
  .testimoni h2 {
    padding-top: 30px;
    font-size: 19px;
    text-align: center;
    color: rgba(0, 0, 0, 0, 06);
  }

  .testimoni p {
    padding: 10px 0px 0px;
    font-size: 9px;
    text-align: center;
    width: 100%;
    color: rgb(3, 3, 3, 0.6);
  }

  .testimoni .benefits {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
  }
  .testimoni .two,
  .testimoni .three,
  .testimoni .four {
    flex: 1;
    width: 100%;
    margin: 10px;
    padding: 0px 10px;
    text-align: justify;
    box-shadow: 2px 2px 10px rgb(7, 7, 7, 0.3);
    border-radius: 12px;
    height: 220px;
  }

  .testimoni .two {
    background-color: #fabd03;
  }
  .testimoni .three {
    background-color: #fabd03;
  }
  .testimoni .four {
    background-color: #fabd03;
  }
  .testimoni .icon {
    position: absolute;
    text-align: center;
    right: 38%;
    top: 20%;
    margin-bottom: 20px;
  }
  .testimoni .three .icon {
    margin: auto;
  }
  .testimoni .judben h5 {
    color: rgba(0, 0, 0, 0, 06);
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
  }
  .testimoni .judpen h6 {
    font-size: 9px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0, 06);
    line-height: 0.5cm;
  }
  #s {
    top: 20%;
  }
  #com {
    padding-top: 30px;
    font-size: 9px;
    text-align: center;
    padding: 0px 20px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0, 06);
    line-height: 0.5cm;
  }
  /* mengatur contacts */
  #contacts {
    padding-top: 10px;
    height: auto;
    padding-bottom: 20px;
    width: auto;
  }
  #contacts h2 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 19px;
  }
  #contacts p {
    padding-top: 0px;
    font-size: 9px;
    text-align: center;
  }
  .lokasi {
    height: 460px;
    max-width: 100%;
    background-color: white;
    display: flex;
    padding: 0px 120px;
  }
  .namalokasi {
    flex: 1;
    padding: 10px 10px;
    background-color: #fabd03;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
    color: rgba(3, 3, 3, 0.6);
    width: 200px;
    height: 350px;
    margin-bottom: 10px;
    position: relative;
  }
  .namalokasi h4 {
    font-size: 0px;
    visibility: hidden;
  }
  .namalokasi p {
    font-size: 0px;
    visibility: hidden;
  }
  .namalokasi #pro {
    display: flex;
    margin: auto;
    margin-top: 45px;
  }

  .pusatlokasi iframe {
    border: 3px solid black;
    background-color: #fabd03;
    padding: 10px 10px;
    flex: 2;
    height: 350px;
    width: 500px;
  }

  .input {
    display: flex;
    width: 50%;
    height: 10%;
    border-radius: 5px;
  }
  .input:-webkit-input-placeholder {
    font-size: 9px;
    color: aqua;
  }
  .input::-moz-placeholder {
    font-size: 9px;
  }
  #inp1 {
    height: 12px;
    border: 1px solid wheat;
  }
  #inp2 {
    height: 12px;
    border: 1px solid wheat;
  }
  #inp3 {
    height: 12px;
    border: 1px solid wheat;
  }
  #inp4 {
    height: 300px;
    border: 1px solid wheat;
  }
  #kirim,
  #reset {
    width: 150px;
    height: 30px;
    font-size: small;
    border-radius: 15px;
    background-color: gray;
    margin-left: 5px;
  }
  .ikon {
    width: 20px;
    height: 20px;
  }

  #kirim:hover,
  #reset:hover {
    background-color: orangered;
  }
  #wa {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }
  #footer {
    width: auto;
  }
  #footer h5 {
    font-size: 14px;
  }
  #footer h6 {
    font-size: 9px;
  }
  /* akhir mengatur contacts */
}
@media (min-width: 992px) and (max-width: 1322px) {
  .main {
    background-position: 0px 0px;
  }
  * {
    max-width: 100%;
  }
  .picunggul video {
    visibility: hidden;
  }
  .navbar ul li {
    font-size: 10px;
  }
  /* untuk mengatur main */
  .main #utama {
    font-size: 100px;
    width: 100%;
  }
  .main #subs {
    font-size: 17px;
    width: 100%;
  }
  .main h6 {
    font-size: 10px;
  }
  .main {
    text-align: center;
    padding: 277px 50px;
    background-position: 0px -30px;
    width: auto;
    height: 630px;
  }
  #but {
    width: 100px;
    height: 38px;
    font-size: 9px;
  }
  #but:hover {
    background-color: rgba(82, 38, 7, 0.7);
    background-color: orangered;
  }
  /* akhir untuk mengatur main */

  /* mengatur about us */
  #abus {
    padding-top: 28px;
    height: 220px;
    width: auto;
  }
  #abus h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px;
  }
  #abus p {
    font-size: 9px;
    text-align: justify;
    padding-bottom: 30px;
    line-height: 0.5cm;
  }
  /* akhir mengatur about us */

  /* mengatur products */
  #products {
    /* height: 1600px; */
    height: 1395px;
    width: auto;
    padding: 0px 60px;
    margin: 0px 80px;
  }
  #products h2 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 19px;
  }
  #products p {
    font-size: 10px;
    text-align: center;
    padding-top: 0px;
  }
  .keunggulan {
    display: flex;
    flex-direction: column;
    height: 300px;
    position: relative;
  }
  #titleunggul {
    font-size: 12px;
    text-align: center;
    padding-bottom: 200px;
    font-family: sans-serif;
  }
  .unggul {
    flex: 1;
    margin: auto;
    width: 100%;
    height: 200px;
    padding-bottom: 30px;
    margin-bottom: 60px;
  }
  .unggul h3 {
    visibility: hidden;
  }
  .unggul h4 {
    font-family: sans-serif;
    color: rgb(3, 3, 3, 0.63);
    text-align: justify;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 9px;
    font-weight: normal;
    line-height: 0.5cm;
  }

  #titleprod {
    margin-top: 30px;
  }
  .picunggul {
    flex: 1;
    height: 220px;
    margin: auto;
    width: 220px;
    background-size: cover;
    background-image: url(../Assets/IMG/Menu/bawang.png);
    background-position: 50% 50%;
    padding-bottom: 30px;
    position: absolute;
    top: 100px;
  }
  .picunggul img {
    visibility: hidden;
  }
  #container {
    display: flex;
    flex-direction: row;
    height: 352px;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  a {
    text-decoration: none;
    color: wheat;
  }
  a:hover {
    color: orange;
  }

  .dua {
    flex: 3;
    background-image: url(../Assets/IMG/Menu/pedas.png);
    background-size: cover;
    background-color: white;
    background-position: -40px 0px;
    border: 1px solid #fabd03;
    height: 400px;
    width: 300px;
    margin: 15px;
    border-radius: 20px;
    display: flex;
    position: relative;
  }

  #a2 {
    width: 500px;
    background-color: #fabd03;
    height: 50px;
    color: rgb(3, 3, 3, 0.6);
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    border-radius: 20px;
    font-size: small;
  }
  .tiga {
    flex: 1;
    background-image: url(../Assets/IMG/Menu/bawang.png);
    background-size: cover;
    background-color: white;
    background-position: -50px 0px;
    border: 1px solid #fabd03;
    height: 400px;
    width: 300px;
    margin: 15px;
    position: relative;
    display: flex;
    border-radius: 20px;
  }
  #a3 {
    width: 500px;
    background-color: #fabd03;
    height: 50px;
    display: flex;
    font-weight: bold;
    flex-wrap: wrap;
    color: rgb(3, 3, 3, 0.6);
    align-items: center;
    justify-content: center;
    bottom: 0px;
    position: absolute;
    border-radius: 20px;
    font-size: small;
  }
  .empat {
    flex: 1;
    background-image: url(../Assets/IMG/Menu/kencur\ pouch.png);
    background-size: cover;
    background-color: white;
    background-position: -40px 0px;
    border: 1px solid #fabd03;
    height: 400px;
    width: 300px;
    margin: 15px;
    position: relative;
    display: flex;
    border-radius: 20px;
  }
  #a4 {
    width: 500px;
    background-color: #fabd03;
    height: 50px;
    display: flex;
    font-weight: bold;
    flex-wrap: wrap;
    color: rgb(3, 3, 3, 0.6);
    align-items: center;
    justify-content: center;
    bottom: 0px;
    position: absolute;
    border-radius: 20px;
    font-size: small;
  }
  .lima {
    flex: 1;
    background-image: url(../Assets/IMG/Menu/kencur\ botol.png);
    background-color: white;
    background-size: cover;
    background-position: -50px 0px;
    border: 1px solid #fabd03;
    height: 400px;
    width: 300px;
    margin: 15px;
    display: flex;
    position: relative;
    border-radius: 20px;
  }
  #a5 {
    width: 500px;
    background-color: #fabd03;
    height: 50px;
    display: flex;
    font-weight: bold;
    flex-wrap: wrap;
    color: rgb(3, 3, 3, 0.6);
    align-items: center;
    justify-content: center;
    bottom: 0px;
    position: absolute;
    border-radius: 20px;
    font-size: small;
  }
  .harga {
    font-weight: bold;
    font-size: 10px;
    margin-left: 20px;
    width: 30%;
    background-color: rgba(3, 3, 3, 0.6);
    border-radius: 20px;
    box-shadow: 1px 1px 3px black;
    text-align: center;
  }
  /* akhir mengatur products */

  /* mengatur about */
  #about {
    padding-top: 10px;
    height: auto;
    padding-bottom: 10px;
    width: auto;
  }
  #about h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px;
  }
  #about p {
    font-size: 9px;
    text-align: justify;
    line-height: 0.5cm;
  }
  /* akhir mengatur about */
  .testimoni {
    height: 430px;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    line-height: 0.75cm;
  }
  .testimoni h5 {
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    padding-top: 80px;
    font-size: 12px;
  }
  .testimoni h2 {
    padding-top: 30px;
    font-size: 19px;
    text-align: center;
    color: rgba(0, 0, 0, 0, 06);
  }

  .testimoni p {
    padding: 10px 0px 0px;
    font-size: 9px;
    text-align: center;
    width: 100%;
    color: rgb(3, 3, 3, 0.6);
  }

  .testimoni .benefits {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
  }
  .testimoni .two,
  .testimoni .three,
  .testimoni .four {
    flex: 1;
    width: 100%;
    margin: 10px;
    padding: 0px 10px;
    text-align: justify;
    box-shadow: 2px 2px 10px rgb(7, 7, 7, 0.3);
    border-radius: 12px;
    height: 220px;
  }

  .testimoni .two {
    background-color: #fabd03;
  }
  .testimoni .three {
    background-color: #fabd03;
  }
  .testimoni .four {
    background-color: #fabd03;
  }
  .testimoni .icon {
    position: absolute;
    text-align: center;
    right: 38%;
    top: 20%;
    margin-bottom: 20px;
  }
  .testimoni .three .icon {
    margin: auto;
  }
  .testimoni .judben h5 {
    color: rgba(0, 0, 0, 0, 06);
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
  }
  .testimoni .judpen h6 {
    font-size: 9px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0, 06);
    line-height: 0.5cm;
  }
  #s {
    top: 20%;
  }
  #com {
    padding-top: 30px;
    font-size: 9px;
    text-align: center;
    padding: 0px 20px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0, 06);
    line-height: 0.5cm;
  }
  /* mengatur contacts */
  #contacts {
    padding-top: 10px;
    height: auto;
    padding-bottom: 20px;
    width: auto;
  }
  #contacts h2 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 19px;
  }
  #contacts p {
    padding-top: 0px;
    font-size: 9px;
    text-align: center;
  }
  .lokasi {
    height: 460px;
    max-width: 100%;
    background-color: white;
    display: flex;
    padding: 0px 120px;
  }
  .namalokasi {
    flex: 1;
    padding: 10px 10px;
    background-color: #fabd03;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
    color: rgba(3, 3, 3, 0.6);
    width: 200px;
    height: 350px;
    margin-bottom: 10px;
    position: relative;
  }
  .namalokasi h4 {
    font-size: 0px;
    visibility: hidden;
  }
  .namalokasi p {
    font-size: 0px;
    visibility: hidden;
  }
  .namalokasi #pro {
    display: flex;
    margin: auto;
    margin-top: 45px;
  }

  .pusatlokasi iframe {
    border: 3px solid black;
    background-color: #fabd03;
    padding: 10px 10px;
    flex: 2;
    height: 350px;
    width: 500px;
  }

  .input {
    display: flex;
    width: 50%;
    height: 10%;
    border-radius: 5px;
  }
  .input:-webkit-input-placeholder {
    font-size: 9px;
    color: aqua;
  }
  .input::-moz-placeholder {
    font-size: 9px;
  }
  #inp1 {
    height: 12px;
    border: 1px solid wheat;
  }
  #inp2 {
    height: 12px;
    border: 1px solid wheat;
  }
  #inp3 {
    height: 12px;
    border: 1px solid wheat;
  }
  #inp4 {
    height: 300px;
    border: 1px solid wheat;
  }
  #kirim,
  #reset {
    width: 150px;
    height: 30px;
    font-size: small;
    border-radius: 15px;
    background-color: gray;
    margin-left: 5px;
  }
  .ikon {
    width: 20px;
    height: 20px;
  }

  #kirim:hover,
  #reset:hover {
    background-color: orangered;
  }
  #wa {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }
  #footer {
    width: auto;
  }
  #footer h5 {
    font-size: 14px;
  }
  #footer h6 {
    font-size: 9px;
  }
  /* akhir mengatur contacts */
}
